@page
@model Ejercicio1bueno.Pages.VistaModel
@{
    ViewData["Title"] = "Vista";
}

<h1>Vista</h1>

<p>Hola! Soy Regina</p>

<p>Hoy es jueves</p>

<p>Juro q es lo último</p>

<p>Tengo hambre</p>